body {
    background-color: rgb(177, 175, 175);
}
h1 {
    text-align: center;
}
.container {
    width: 80%;
    margin: 0 auto;
    display: flex;

}
#main-container {
    width: 50%;
    height: 100px;
    margin: 0 auto;
    background-color: rgb(128, 128, 128);
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
}
#writtenWords {
    width: 50%;
    height: 100px;
    font-size: 3em;
    direction: rtl; 
    margin: 0 auto;
    display: block;
    overflow: hidden;
    background-color: rgb(128, 128, 128);
    display: inline-block;
    white-space: nowrap;
 
}
#cursor {
    background-color: rgb(128, 128, 128);
    text-align: right;
    color: blue;
    white-space: nowrap;
    border: 0;
    padding: 0;
    display: inline-block;
}
.word {
    font-size: 3em;
    padding: 10px;
    padding-left: 0;
}
/* #cursor { 
    width: 5px;
    background-color: black;
    height: 80%;
    animation: blink 1s infinite;

}
@keyframes blink {
    from, to { background-color: gray; }
    50% {  background-color: black; }
} */
